In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
df = pd.read_csv('HD-Patients-Selected.csv')
df

    age;sex;cp;trestbps;chol;restecg;thalach;exang;xhypo;oldpeak;slope;ca;thal;num
0            40;1;2;140;289;0;172;0;0;0;?;?;?;negative
1            49;0;3;160;180;0;156;0;0;1;2;?;?;positive
2             37;1;2;130;283;1;98;0;0;0;?;?;?;negative
3          48;0;4;138;214;0;108;1;0;1.5;2;?;?;positive
4              54;1;3;150;?;0;122;0;1;0;?;?;?;negative
..                                                 ...
289              48;0;2;?;308;1;?;?;?;2;1;?;?;negative
290          36;1;2;120;166;0;180;0;0;0;?;?;?;negative
291          48;1;3;110;211;0;138;0;0;0;?;?;6;negative
292          47;0;2;140;257;0;135;0;0;1;1;?;?;negative
293          53;1;4;130;182;0;148;0;0;0;?;?;?;negative

[294 rows x 1 columns]

In [7]:
df.isna().sum().head(36)

id          0
ccf         0
age         0
sex         0
painloc     0
painexer    0
relrest     0
pncaden     0
cp          0
trestbps    0
htn         0
chol        0
smoke       0
cigs        0
years       0
fbs         0
dm          0
famhist     0
restecg     0
ekgmo       0
ekgday      0
ekgyr       0
dig         0
prop        0
nitr        0
pro         0
diuretic    0
proto       0
thaldur     0
thaltime    0
met         0
thalach     0
thalrest    0
tpeakbps    0
tpeakbpd    0
dummy       0
dtype: int64