# Kecenderungan nilai Matematika untuk gender tertentu di tingkat pendidikan barchelor degree

### Analisis Data

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [18]:
df = pd.read_csv('StudentsPerformance.csv', usecols=['gender', 'parental level of education','math score'])

In [13]:
df.head()

   gender parental level of education  math score
0  female           bachelor's degree          72
1  female                some college          69
2  female             master's degree          90
3    male          associate's degree          47
4    male                some college          76

In [14]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['gender'] = le.fit_transform(df['gender'])
df.head()

   gender parental level of education  math score
0       0           bachelor's degree          72
1       0                some college          69
2       0             master's degree          90
3       1          associate's degree          47
4       1                some college          76

In [15]:
le.classes_

array(['female', 'male'], dtype=object)

In [16]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['parental level of education'] = le.fit_transform(df['parental level of education'])
df.head()

   gender  parental level of education  math score
0       0                            1          72
1       0                            4          69
2       0                            3          90
3       1                            0          47
4       1                            4          76

In [17]:
le.classes_

array(["associate's degree", "bachelor's degree", 'high school',
       "master's degree", 'some college', 'some high school'],
      dtype=object)

In [7]:
x = df.drop(columns='math score')
y = df['math score']

In [8]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [9]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(800, 1)
(200, 1)
(800,)
(200,)

In [10]:
lr = LinearRegression()

In [11]:
lr.fit(x_train, y_train)

LinearRegression()